<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 col-lg-6 col-xl-5">
        <img
          src="assets/images/login-image.svg"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="registerForm">
          <h3 class="mb-3">Sign Up</h3>

          <!-- firstName input-->
          <div class="form-outline mb-4">
            <input
              formControlName="firstName"
              type="text"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Enter First Name"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="
                registerForm.get('firstName')?.hasError('required') &&
                (registerForm.dirty || registerForm.touched)
              "
            >
              FirstName is required
            </div>
          </div>
          <!-- firstName input-->

          <!-- firstName input-->
          <div class="form-outline mb-4">
            <input
              formControlName="lastName"
              type="text"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Enter Last Name"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="
                registerForm.get('lastName')?.hasError('required') &&
                (registerForm.dirty || registerForm.touched)
              "
            >
              FirstName is required
            </div>
          </div>
          <!-- firstName input-->

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              formControlName="email"
              type="email"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Enter email"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="
                registerForm.get('email')?.hasError('required') &&
                (registerForm.dirty || registerForm.touched)
              "
            >
              Email is required
            </div>

            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="
                registerForm.get('email')?.hasError('email') &&
                (registerForm.dirty || registerForm.touched)
              "
            >
              you must enter your email address
            </div>
          </div>

          <!-- Email input -->

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              formControlName="password"
              form
              type="password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Enter password"
            />

            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="
                registerForm.get('password')?.hasError('required') &&
                (registerForm.dirty || registerForm.touched)
              "
            >
              Password is required
            </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="
                registerForm.get('password')?.hasError('minlength') &&
                (registerForm.dirty || registerForm.touched)
              "
            >
              Password must be minimum 8 length
            </div>
          </div>
          <!-- Password input -->
          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
              (click)="register()"
            >
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
