<div *ngIf="isLoading">
  <app-loading></app-loading>
</div>
<div class="container my-5 vh-100">
  <div
    class="my-2"
    style="display: flex; justify-content: space-between; align-items: left"
  ></div>

  <form class="mb-5">
    <input
      type="text"
      name="publisher"
      placeholder="   Search Publisher"
      [(ngModel)]="publisher"
    />

    <input
      type="text"
      name="isbn"
      placeholder="   Search ISBN"
      [(ngModel)]="isbn"
    />

    <input
      type="text"
      name="bookName"
      placeholder="   Search Book Name"
      [(ngModel)]="bookName"
    />

    <input
      type="text"
      name="author"
      placeholder="   Search Author"
      [(ngModel)]="author"
    />
  </form>

  <div class="row">
    <div
      class="col-sm-12 col-md-4 col-lg-3 mb-3 d-flex align-items-stretch"
      *ngFor="
        let book of books
          | bookFilterpipe: 'publisher':publisher
          | bookFilterpipe: 'isbn':isbn
          | bookFilterpipe: 'bookName':bookName
          | bookFilterpipe: 'author':author
      "
    >
      <div class="card">
        <img
          src="assets/images/card-book.jpg"
          alt="card-book"
          width="auto"
          height="auto"
        />
        <div class="mt-2" style="text-align: center">
          <h4 style="font-size: 14px">
            <b
              >{{ book.publisher }} <br /><br />
              {{ book.isbn }}
            </b>
          </h4>
          <p style="font-size: 15px">
            <span style="font-size: 14px; font-weight: bold">Book Name :</span>
            {{ book.name }} <br />
            <span style="font-size: 14px; font-weight: bold">Author:</span>
            {{ book.author }}
          </p>
          <div class="d-flex justify-content-around my-4">
            <button
              *ngIf="loginDto?.role == 'admin'"
              class="btn btn-danger"
              (click)="deleteBook(book.id)"
            >
              Delete
            </button>
            <button
              *ngIf="loginDto?.role == 'admin'"
              class="btn btn-primary"
              (click)="editPage(book)"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
